@import url(https://fonts.google.com/specimen/Poppins);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background-color: #39705F ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}
 /*set border to the form*/
     
 form {
    border: 3px solid #f1f1f1;
}
/*assign full width inputs*/
 
input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
/*set a style for the buttons*/
 
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
/* set a hover effect for the button*/
 
button:hover {
    opacity: 0.8;
}
/*set extra style for the cancel button*/
 
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}
/*centre the display image inside the container*/
 
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}
/*set image properties*/
 
img.avatar {
    width: 40%;
    border-radius: 50%;
}
/*set padding to the container*/
 
.container {
    padding: 16px;
}
/*set the forgot password text*/
 
span.psw {
    float: right;
    padding-top: 16px;
}
/*set styles for span and cancel button on small screens*/
 
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}
footer{
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    background-color: #39705F ;
    display: flex;
    justify-content: space-between;
    z-index: 99;
    color: white;
}
h2{
    font-size: 50px;
}
p{
    text-align: center;
}
div{
    text-align: center;
}
body {
    min-height:100svh;
    min-height:100svh;
    display:grid;
    place-content:center;
  }
